Repository codyzard/terminal.codyzard.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, tsc --noEmit

.lintstagedrc:

{
  "*.{ts,tsx}": ["eslint --fix", "prettier --write", "tsc --noEmit"],
  "*.{js,mjs,jsx,json,css,scss,md}": ["prettier --write"]
}

refactor snake
  .lintstagedrc
  src/commands/snake.tsx
  src/commands/snake/components/game-board.tsx
  src/commands/snake/components/game-over-screen.tsx
  src/commands/snake/components/game-title.tsx
  src/commands/snake/components/instructions.tsx
  src/commands/snake/components/score-display.tsx
  src/commands/snake/components/start-screen.tsx
  src/commands/snake/game-logic.ts
  src/commands/snake/index.tsx
  src/commands/snake/snake-game.tsx
  src/commands/snake/types.ts
Due: eslint --fix, prettier --write, tsc --noEmit

refactor Readme
  README.md
Due: prettier --write

refactor provider
  app/layout.tsx
  app/provider-aggregation.tsx
Due: eslint --fix, prettier --write, tsc --noEmit

add meta data
  README.md
  app/layout.tsx
  public/assets/images/profile-bnw.jpg
  public/assets/images/profile.jpg
Due: eslint --fix, prettier --write, tsc --noEmit

fix image url
  app/layout.tsx
Due: eslint --fix, prettier --write, tsc --noEmit

implement indexing seo
  app/layout.tsx
  app/robots.ts
  app/sitemap.ts
Due: eslint --fix, prettier --write, tsc --noEmit

modify title
  app/layout.tsx
Due: eslint --fix, prettier --write, tsc --noEmit

implement awards command
  src/commands/awards.tsx
  src/commands/index.ts
Due: eslint --fix, prettier --write, tsc --noEmit

implement weather whoaim
  app/globals.css
  app/provider-aggregation.tsx
  package.json
  pnpm-lock.yaml
  src/commands/README.md
  src/commands/index.ts
  src/commands/neofetch.tsx
  src/commands/skills.tsx
  src/commands/summary.tsx
  src/commands/theme.tsx
  src/commands/typing.tsx
  src/commands/weather.tsx
  src/commands/welcome.tsx
  src/commands/whoami.tsx
  src/components/command-input/index.tsx
  src/components/command-input/use-command-input.ts
  src/components/terminal/index.tsx
  src/contexts/typing-animation-context.tsx
  src/hooks/use-command-autocomplete.ts
  src/hooks/use-local-storage.ts
Due: eslint --fix, prettier --write, tsc --noEmit

implement coffee
  src/commands/coffee/components/coffee-display.tsx
  src/commands/coffee/components/coffee-stats-display.tsx
  src/commands/coffee/constants.ts
  src/commands/coffee/hooks/use-coffee-animation.ts
  src/commands/coffee/hooks/use-coffee-stats.ts
  src/commands/coffee/index.tsx
  src/commands/coffee/types.ts
  src/commands/coffee/utils.ts
  src/commands/index.ts
  src/commands/weather.tsx
Due: eslint --fix, prettier --write, tsc --noEmit

add kebab-case file name rule
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
Due: prettier --write

update whoami
  src/commands/whoami.tsx
Due: eslint --fix, prettier --write, tsc --noEmit

add snake command to welcome
  src/commands/welcome.tsx
Due: eslint --fix, prettier --write, tsc --noEmit

implement syntax theme
  app/globals.css
  src/commands/theme.tsx
  src/components/command-history/index.tsx
  src/contexts/theme-context.tsx
  src/utils/syntax-highlighter.tsx
Due: eslint --fix, prettier --write, tsc --noEmit

fix bug snake game
  src/commands/snake/snake-game.tsx
Due: eslint --fix, prettier --write, tsc --noEmit

fix bug not auto scroll when execute
  src/commands/coffee/components/coffee-display.tsx
  src/components/terminal/index.tsx
Due: eslint --fix, prettier --write, tsc --noEmit

sync skills & neofetch & swhoami
  src/commands/neofetch.tsx
  src/commands/skills.tsx
  src/commands/whoami.tsx
  src/config/user-data.ts
Due: eslint --fix, prettier --write, tsc --noEmit

migrate linter formatter to oxc
  .oxlintrc.json
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
Due: prettier --write

format
  .lintstagedrc
  .vscode/settings.json
Due: prettier --write

format code
  .editorconfig
  .prettierrc.js
  .vscode/settings.json
  app/layout.tsx
  app/page.tsx
  src/commands/awards.tsx
  src/commands/coffee/components/coffee-display.tsx
  src/commands/coffee/components/coffee-stats-display.tsx
  src/commands/contact.tsx
  src/commands/help.tsx
  src/commands/neofetch.tsx
  src/commands/skills.tsx
  src/commands/snake/components/game-board.tsx
  src/commands/snake/components/game-over-screen.tsx
  src/commands/snake/components/game-title.tsx
  src/commands/snake/components/instructions.tsx
  src/commands/snake/components/score-display.tsx
  src/commands/snake/components/start-screen.tsx
  src/commands/snake/snake-game.tsx
  src/commands/summary.tsx
  src/commands/theme.tsx
  src/commands/typing.tsx
  src/commands/weather.tsx
  src/commands/welcome.tsx
  src/commands/whoami.tsx
  src/components/command-history/index.tsx
  src/components/command-input/command-suggestions.tsx
  src/components/command-input/index.tsx
  src/components/terminal/index.tsx
  src/components/typing-animation/index.tsx
  src/utils/command-executor.tsx
Due: eslint --fix, prettier --write, tsc --noEmit

add oxc format
  .prettierrc.js
  package.json
  pnpm-lock.yaml
Due: prettier --write

update readme
  README.md
Due: prettier --write

build docker
  .dockerignore
  Dockerfile
  README.md
  docker-compose.yml
  next.config.ts
Due: eslint --fix, prettier --write, tsc --noEmit

Build test enviroment
  README.md
  package.json
  pnpm-lock.yaml
  src/commands/snake/game-logic.test.ts
  src/utils/command-registry.test.ts
  tsconfig.json
  vitest.config.mts
  vitest.setup.mts
Due: eslint --fix, prettier --write, tsc --noEmit

setup ci/cd
  .github/SETUP_CICD.md
  .github/workflows/README.md
  .github/workflows/ci.yml
  .github/workflows/deploy-preview.yml
  .github/workflows/deploy-production.yml
  .gitignore
  .vercelignore
  README.md
  vercel.json
Due: prettier --write

fix config deploy & typecheck
  src/utils/command-registry.test.ts
  vercel.json
Due: eslint --fix, prettier --write, tsc --noEmit

fix comment output preview url
  .github/workflows/ci.yml
  .github/workflows/deploy-preview.yml
  .github/workflows/deploy-production.yml
Due: none

add needs
  .github/workflows/ci.yml
Due: none

build local ci/cd
  .actrc.example
  .github/LOCAL_CICD.md
  .gitignore
  .secrets.example
  README.md
Due: prettier --write

Scroll bug
  src/commands/coffee/components/coffee-display.tsx
  src/components/terminal/index.tsx
  src/contexts/terminal-scroll-context.tsx
Due: eslint --fix, prettier --write, tsc --noEmit

add seo dóc
  public/googled450652b6ecf8fa6.html
Due: none

fix logo search google
  app/icon.png
  app/manifest.ts
  src/commands/welcome.tsx
Due: eslint --fix, prettier --write, tsc --noEmit

Fix manifest icon path to /icon.png
  app/manifest.ts
Due: eslint --fix, prettier --write, tsc --noEmit

apply matrix
  app/layout.tsx
  app/not-found.tsx
  app/provider-aggregation.tsx
  src/commands/index.ts
  src/commands/matrix.tsx
  src/components/matrix-rain/index.tsx
  src/components/terminal/index.tsx
  src/contexts/matrix-context.tsx
  src/hooks/use-is-mounted.ts
Due: eslint --fix, prettier --write, tsc --noEmit

refactor component
  src/components/matrix-rain/index.tsx
  src/components/matrix-rain/matrix-constants.ts
  src/components/matrix-rain/use-matrix-animation.ts
  src/components/terminal/index.tsx
  src/components/terminal/terminal-matrix-background.tsx
Due: eslint --fix, prettier --write, tsc --noEmit

apply typing sound
  app/provider-aggregation.tsx
  src/commands/audio/audio-toggle.tsx
  src/commands/audio/index.tsx
  src/commands/audio/use-audio-toggle.ts
  src/commands/index.ts
  src/components/command-input/index.tsx
  src/contexts/audio-context.tsx
  src/hooks/use-typing-sound.ts
Due: eslint --fix, prettier --write, tsc --noEmit

refactor matrix
  src/commands/matrix.tsx
  src/commands/matrix/index.tsx
  src/commands/matrix/matrix-toggle.tsx
  src/commands/matrix/use-matrix-toggle.ts
Due: eslint --fix, prettier --write, tsc --noEmit

update README.md
  README.md
Due: prettier --write

fix hydration in theme command
  src/contexts/theme-context.tsx
Due: eslint --fix, prettier --write, tsc --noEmit

Feature: did you mean
  src/utils/command-executor.tsx
  src/utils/command-suggestions.ts
  src/utils/string-similarity/README.md
  src/utils/string-similarity/index.ts
Due: eslint --fix, prettier --write, tsc --noEmit
